<section
    id="hero"
    class="s-hero target-section"
    data-parallax="scroll"
    data-image-src="https://picsum.photos/id/844/1024/768"
    data-natural-width="3000"
    data-natural-height="2000"
    data-position-y="center"
>
    <div class="row hero-content">
        <div class="column large-full">
            <h1>{{ profile:description }}</h1>

            <ul class="hero-social">
                {{ nav:social_nav }}
                <li>
                    <a href="{{ url }}" title="{{title}}">{{ title }}</a>
                </li>
                {{ /nav:social_nav }}
            </ul>
        </div>
    </div>

    <div class="hero-scroll">
        <a href="#about" class="scroll-link smoothscroll">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
            >
                <path d="M12 24l-8-9h6v-15h4v15h6z" />
            </svg>
        </a>
    </div>
</section>

<!-- about
    ================================================== -->
<section id="about" class="s-about target-section">
    <div class="s-about__section s-about__section--profile">
        <div class="right-vert-line"></div>

        <div class="row">
            <div class="column large-6 medium-8 tab-full">
                {{ collection:sections title:starts_with="About"}}
                <div class="section-intro" data-num="01" data-aos="fade-up">
                    <h3 class="subhead">{{ title }}</h3>
                    <h1 class="display-1">{{ extract }}</h1>
                </div>

                <div class="profile-pic" data-aos="fade-up">
                    <img
                        src="https://picsum.photos/id/1011/600/450"
                        srcset="
                            https://picsum.photos/id/1011/420/560  1x,
                            https://picsum.photos/id/1011/840/1120 2x
                        "
                        alt=""
                    />
                </div>

                <h3 data-aos="fade-up">{{ subtitle }}</h3>

                <p data-aos="fade-up">{{ content | raw }}</p>
                {{ /collection:sections }}
            </div>
        </div>
    </div>
    <!-- end s-about__section--profile -->

    <div class="s-about__section">
        <div class="row">
            <div class="column">
                <h3 data-aos="fade-up">Career</h3>
            </div>
        </div>

        <div class="row block-large-1-2 block-900-full work-positions">
            {{ collection:career sort="order" }}
            <div class="column" data-aos="fade-up">
                <div class="position">
                    <div class="position__header">
                        <h6>
                            <span class="position__co">{{ title }}</span>
                            <span class="position__pos">{{ position }}</span>
                        </h6>
                        <div class="position__timeframe">
                            {{ start_date format="F Y" }} - {{ if first
                            }}Present{{ else }}{{ end_date format="F Y" }}{{ /if
                            }}.
                        </div>
                    </div>
                    {{ order_type }}
                    <p>{{ content }}</p>
                </div>
            </div>
            {{ /collection:career }}
        </div>
    </div>
</section>

<!-- services
    ================================================== -->
<section id="services" class="s-services target-section h-dark-bg">
    <div class="row s-services__content">
        <div class="vert-line"></div>

        <div class="column large-6 s-services__leftcol">
            {{ collection:sections title:starts_with="Expertise"}}
            <div class="section-intro" data-num="02" data-aos="fade-up">
                <h3 class="subhead">{{ title }}</h3>

                <h1 class="display-1">{{ extract }}</h1>
            </div>

            <p class="lead" data-aos="fade-up">{{ content | raw }}</p>
            {{ /collection:sections }}
        </div>
        <!-- end  s-services--leftcol -->

        <div class="column large-6">
            <ul class="services-list" data-aos="fade-up">
                {{ collection:expertise sort="order" }}
                <li
                    class="services-list__item {{ if index == 0 }}is-active{{ /if }}"
                >
                    <div class="services-list__item-header">
                        <h5>{{ title }}</h5>
                    </div>
                    <div class="services-list__item-body">
                        <p>{{ content | raw }}</p>
                    </div>
                </li>
                {{ /collection:expertise }}
            </ul>
        </div>
    </div>
</section>

{{ partial:sections/portfolio }} {{ partial:sections/photoswipe }}
