<!DOCTYPE html>
<html class="no-js" lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <title>{{ title ?? site:name }}</title>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{{ mix src='css/site.css' }}" />
        <script src="{{ mix src='/js/site.js' }}"></script>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="favicon-16x16.png"
        />
        <link rel="manifest" href="site.webmanifest" />
    </head>
    <body id="top">
        <div id="preloader">
            <div id="loader" class="dots-fade">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        {{ partial:header }} {{ template_content }} {{ partial:footer }}

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
